@font-face {
  font-family: "moms-typewriter";
  src: url("../assets/fonts/Moms_typewriter.ttf") format("truetype");
}
@font-face {
  font-family: "Open-Sans";
  src: url(../assets/fonts/OpenSans.ttf);
}
.home-page-background {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../assets/img/welcome-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-page-section {
  position: absolute;
  top: 24rem;
  left: 10rem;
}

.home-page-line1 {
  font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: white;
  font-size: 1.5rem;
}

.home-page-line2 {
  font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: white;
  font-size: 4rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.button-entrar {
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.7rem 3.5rem;
  background-color: #282828;
  color: white;
  border: 3px solid white;
  display: inline-block;
  margin-left: 8rem;
  text-decoration: none;
  cursor: pointer;
}

.button-entrar:hover {
  background-position: 0;
  transition: background 0.3s ease;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(233, 127, 35) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
}

.plain-background {
  background-color: #282828;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 1px solid #121212;
  background-color: #121212;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
header img {
  width: 3rem;
}
header h2 {
  font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: white;
  font-size: 3.5rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;
}

.category-intro {
  margin: 5rem 15rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

.grid-container-category {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-items: center;
}

.grid-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 400px;
  height: auto;
  transition: filter 0.3s ease;
  filter: grayscale(100%);
}

.grid-item:hover img {
  filter: grayscale(0%);
}

footer {
  background-color: black;
  color: white;
  padding: 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.2rem auto;
  img {
    width: 1.5rem;
  }
  a {
    text-decoration: none;
    color: #ffff;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
  }
  a:hover {
    color: rgb(233, 127, 35);
  }
}

.footer-text {
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 25rem;
  text-align: center;
}

.biography-display {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 5rem 25rem;
  justify-content: space-between;
}

.biography-text {
  flex: 1;
  flex-grow: 7;
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}
.biography-text p {
  margin-bottom: 1.5rem;
}

.biography-image {
  flex: 1;
  flex-grow: 3;
}
.biography-image img {
  max-width: 100%;
}
.biography-image figcaption {
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

@media (max-width: 768px) {
  header {
    border: 1px solid #121212;
    background-color: #121212;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  header img {
    width: 2rem;
  }
  header h2 {
    font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin: 4rem 0rem;
  }
  .biography-display {
    flex-direction: row;
  }

  .footer-links {
    flex-direction: row;
    justify-content: center;
  }

  .footer-option {
    flex-direction: row;
  }
}

.albums-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 3rem;
  margin: 5rem 25rem;
}

.album-item {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.302);
}
.album-item img {
  margin: 3rem;
}
.album-item p {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 3rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  color: white;
}

.impact-container {
  width: 60%;
  margin: 5rem 25rem;
}
.impact-container p {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}
.impact-container iframe {
  margin: 4rem auto;
  width: 800px;
  height: 450px;
  display: flex;
  justify-content: center;
}

.tour-container {
  margin-top: 5rem;
}

.tour-intro {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  width: 70%;
  margin: auto;
  text-align: justify;
}

.tour-table {
  color: white;
  margin: 5rem auto;
  font-size: 20px;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  border-collapse: collapse;
}

.tour-table th,
.tour-table td {
  padding: 1.5rem;
  text-align: left;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  line-height: 1.5;
}

.tour-table td:nth-child(3) {
  text-align: center;
}

.tour-table td:last-child {
  text-align: right;
}

.bibliography-container {
  margin: 5rem;
}

.bibliography-disclaimer {
  background-color: rgba(0, 0, 0, 0.302);
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
  padding: 3rem;
}
.bibliography-disclaimer p {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
}
.bibliography-disclaimer ul {
  color: white;
}
.bibliography-disclaimer li {
  margin-bottom: 1rem;
}
.bibliography-disclaimer a {
  text-decoration: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
}
.bibliography-disclaimer a:hover {
  color: rgb(233, 127, 35);
}

.thank-you-message {
  display: flex;
  flex-direction: row;
}
.thank-you-message p {
  margin: 10rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}
.thank-you-message img {
  width: 25rem;
  margin: 1rem;
}

/*# sourceMappingURL=styles.css.map */
