@font-face {
  font-family: "moms-typewriter";
  src: url("../assets/fonts/Moms_typewriter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Open-Sans";
  src: url(../assets/fonts/OpenSans.ttf);
  font-display: swap;
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.home-page-background {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../assets/img/welcome-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-page-section {
  position: absolute;
  width: 40%;
  top: 25%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: rgb(233, 127, 35);
}

h1 {
  font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  margin: 2rem 0;
  margin-bottom: 0;
  margin-left: 3rem;
}

.home-page-line2 {
  font-size: 3.5rem;
  font-weight: 200;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.home-page-intro {
  margin: 0 2rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: justify;
  width: 70%;
}

.home-page-intro p {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-entrar {
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.7rem 3.5rem;
  background-color: #282828;
  color: white;
  border: 3px solid white;
  display: inline-block;
  margin: 2rem 0;
  text-decoration: none;
  cursor: pointer;
}

.button-entrar:hover {
  background-position: 0;
  transition: background 0.3s ease;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(233, 127, 35) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
}

.plain-background {
  background-color: #282828;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 1px solid #121212;
  background-color: #121212;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
header img {
  width: 3rem;
}

header img:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
header h2 {
  font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: red;
  font-size: 3.5rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;
}

.grid-container-category {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-items: center;
}

.grid-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 400px;
  height: auto;
  transition: filter 0.3s ease;
  filter: grayscale(100%);
}

.grid-item:hover img {
  filter: grayscale(0%);
}

footer {
  background-color: black;
  color: white;
  padding: 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.2rem auto;
  img {
    width: 1.5rem;
  }
  a {
    text-decoration: none;
    color: #ffff;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
  }
  a:hover {
    color: rgb(233, 127, 35);
  }
}

.footer-text {
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 25rem;
  text-align: center;
}

.biography-display {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 5rem 25rem;
  justify-content: space-between;
}

.biography-text {
  flex: 1;
  flex-grow: 7;
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}
.biography-text p {
  margin-bottom: 1.5rem;
}

.biography-image {
  flex: 1;
  flex-grow: 3;
}
.biography-image img {
  max-width: 100%;
}
.biography-image figcaption {
  font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.albums-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 3rem;
  margin: 5rem 25rem;
}

.album-item {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.302);
}

.album-item img {
  margin: 3rem;
}

.album-item img:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.album-item p {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 3rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  color: white;
}

.impact-container {
  width: 60%;
  margin: 5rem 25rem;
}
.impact-container p {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}
.impact-container iframe {
  margin: 4rem auto;
  width: 800px;
  height: 450px;
  display: flex;
  justify-content: center;
}

.tour-container {
  margin-top: 5rem;
}

.tour-intro {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
  width: 70%;
  margin: auto;
  text-align: justify;
}

.tour-table {
  color: white;
  margin: 5rem auto;
  font-size: 20px;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  border-collapse: collapse;
}

.tour-table th,
.tour-table td {
  padding: 1.5rem;
  text-align: left;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  line-height: 1.5;
}

.tour-table td:nth-child(3) {
  text-align: center;
}

.tour-table td:last-child {
  text-align: right;
}

.bibliography-container {
  margin: 5rem;
}

.bibliography-disclaimer {
  background-color: rgba(0, 0, 0, 0.302);
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
  padding: 3rem;
}
.bibliography-disclaimer p {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: white;
}
.bibliography-disclaimer ul {
  color: white;
}
.bibliography-disclaimer li {
  margin-bottom: 1rem;
}
.bibliography-disclaimer a {
  text-decoration: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.2rem;
}
.bibliography-disclaimer a:hover {
  color: rgb(233, 127, 35);
}

.thank-you-message {
  display: flex;
  flex-direction: row;
}
.thank-you-message p {
  margin: 10rem;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
}
.thank-you-message img {
  width: 25rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  .home-page-background {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .home-page-background::before {
    /* content: ""; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/welcome-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
  }
  .home-page-section {
    position: absolute;
    width: 80%;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: rgb(233, 127, 35);
  }

  h1 {
    font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .home-page-line2 {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
  }

  .home-page-intro {
    margin: 0;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }

  .button-entrar {
    font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0.7rem 3.5rem;
    background-color: #282828;
    color: white;
    border: 3px solid white;
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    cursor: pointer;
  }

  .button-entrar:hover {
    background-position: 0;
    transition: background 0.3s ease;
    background-image: linear-gradient(
      to right,
      transparent 50%,
      rgb(233, 127, 35) 50%
    );
    background-size: 200% 100%;
    background-position: 100%;
  }

  .plain-background {
    background-color: #282828;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #121212;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  header img {
    width: 3rem;
  }

  header h2 {
    font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .grid-container-category {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .grid-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .grid-item img {
    width: 250px;
    height: 250px;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
  }

  .grid-item:hover img {
    filter: grayscale(0%);
  }

  footer {
    background-color: black;
    color: white;
    padding: 1rem;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      width: 1.5rem;
    }
    a {
      text-decoration: none;
      color: #ffff;
      font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1rem;
    }
    a:hover {
      color: rgb(233, 127, 35);
    }
  }
  .footer-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-text {
    font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 0.7rem;
    text-align: center;
  }

  .biography-display {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 1rem;
    justify-content: center;
  }

  .biography-text {
    order: 2;
    font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.1rem;
    text-align: justify;
    margin: 0 2rem;
  }
  .biography-text p {
    margin-bottom: 1.5rem;
  }

  .biography-image {
    order: 1;
  }
  .biography-image img {
    max-width: 100%;
  }
  .biography-image figcaption {
    font-family: "Open-Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

  .albums-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 3rem;
    margin: 2rem auto;
  }

  .album-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.302);
  }
  .album-item img {
    width: 250px;
    height: 250px;
  }
  .album-item p {
    display: flex;
    align-items: center;
    margin: 2rem;
    margin-top: 0;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: justify;
    color: white;
  }

  .impact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 80%;
  }
  .impact-container p {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1rem;
    text-align: justify;
  }
  .impact-container iframe {
    margin: 2rem 0;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  .tour-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tour-intro {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
    text-align: justify;
  }

  .tour-table {
    color: white;
    margin: 4rem 2rem;
    font-size: 20px;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    border-collapse: collapse;
  }

  .tour-table th,
  .tour-table td {
    padding: 0.8rem;
    text-align: left;
    font-size: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    line-height: 1.2;
  }

  .tour-table td:nth-child(3) {
    text-align: center;
  }

  .tour-table td:last-child {
    text-align: right;
  }

  .bibliography-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bibliography-disclaimer {
    background-color: rgba(0, 0, 0, 0.302);
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 2rem;
  }
  .bibliography-disclaimer p {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: white;
  }
  .bibliography-disclaimer ul {
    color: white;
  }
  .bibliography-disclaimer li {
    margin-bottom: 1rem;
  }
  .bibliography-disclaimer a {
    text-decoration: none;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1rem;
  }
  .bibliography-disclaimer a:hover {
    color: rgb(233, 127, 35);
  }

  .thank-you-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .thank-you-message p {
    margin: 1rem;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
  }
  .thank-you-message img {
    width: 12rem;
    margin: 1rem;
  }
  header {
    border: 1px solid #121212;
    background-color: #121212;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  header img {
    width: 2rem;
  }
  header h2 {
    font-family: "moms-typewriter", "Segoe UI", Tahoma, Geneva, Verdana,
      sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin: 4rem 0rem;
  }
  .biography-display {
    flex-direction: row;
  }

  .footer-links {
    flex-direction: row;
    justify-content: center;
  }

  .footer-option {
    flex-direction: row;
  }
}
